.doc-content {
  // background-color: #fff;
  margin-left: 350px;
  padding: 10px;
  input, textarea {
    font-size: 14px;
  }
  &__title {
    border: none;
    margin-bottom: 20px;
  }

  &__operate {
    margin-bottom: 20px;
    
    button {
      margin-right: 10px;
    }
  }
}