.app {
  &__container {
    position: absolute;
    width: 100%;
    height: auto;
  }

  &__header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__menu {
      line-height: 64px;
    }

    &__userinfo {
      display: flex;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
      .name {
        margin-left: 10px;
        font-size: 14px;
        color: #fff;
      }
    }
  }

  &__content {
    padding: 30px 50px;
    margin-top: 64px;
    height: 100%;
  }
}

