$width: 200px;
$height: 300px;

%card {
  width: $width;
  height: $height;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 20px #888888;
}

.card {
  @extend %card;
}

.project-list {
  display: flex;
  .card {
    margin-right: 10px;
  }
}

.add-project {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %card;
  background-color: #ccc;
  font-size: 40px;
  color: #fff;
}